<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="color">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Colors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
