<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let serverUser of users">
      <ion-label>{{ serverUser.name }}</ion-label>
      <ion-button (click)="randomize()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
